# Ignore virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database files
*.db
*.sqlite3

# Node modules
node_modules/

# Logs and crash reports
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Python environment configuration
*.env

# Docker files
Dockerfile


# Ignore package-lock if managed elsewhere
package-lock.json

# Ignore any saved models
saved_models/
.vercel
